.mt-card {
    border-radius: 8px !important;
}



.gbc_ModalWindowDialog {
    .mt-card.mt-dialog-pane {
        animation: dialog-motion 1.0s 0s 1 linear;
    }
}

@keyframes dialog-motion {
    0% {
      top: -500px;
    }
    100% {
      top: 0px;
    }
}

