/*
Loading animation was adapted from Pure CSS Loaders
https://loading.io/css/
*/

.processing {

   .loading-bar.lds-grid {
      display: inline-block;
      width: $lds-size;
      height: $lds-size;
      position: absolute;
      z-index: $lds-parent-z-index;
      top: $lds-parent-top;
      left: $lds-parent-left;
      background-color: $lds-parent-background-color;
      border-radius: $lds-parent-border-radius;
      border: $lds-parent-border-size solid transparent;
      
      div {
         position: absolute;
         width: 16px;
         height: 16px;
         border-radius: 50%;
         background: $lds-base-color;
         animation: lds-grid $lds-spin-duration linear infinite;

         &:nth-child(1) {
           top: 24px;
           left: 24px;
           animation-delay: 0s;
         }

         &:nth-child(2) {
           top: 24px;
           left: 48px;
           animation-delay: -0.4s;
         }

         &:nth-child(3) {
           top: 24px;
           left: 72px;
           animation-delay: -0.8s;
         }

         &:nth-child(4) {
           top: 48px;
           left: 24px;
           animation-delay: -0.4s;
         }

         &:nth-child(5) {
           top: 48px;
           left: 48px;
           animation-delay: -0.8s;
         }

         &:nth-child(6) {
           top: 48px;
           left: 72px;
           animation-delay: -1.2s;
         }

         &:nth-child(7) {
           top: 72px;
           left: 24px;
           animation-delay: -0.8s;
         }

         &:nth-child(8) {
           top: 72px;
           left: 48px;
           animation-delay: -1.2s;
         }

         &:nth-child(9) {
           top: 72px;
           left: 72px;
           animation-delay: -1.6s;
         }

      }
   }     
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.processing:not(.inactiveWindow) .loading-bar.lds-grid {
        -webkit-animation: lds-parent $lds-spin-duration linear $lds-spin-delay infinite;
        animation: lds-parent $lds-spin-duration linear $lds-spin-delay infinite;
}
